.grid {
    display: flex;
    flex-wrap: wrap;
    height:600px;
    width:600px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(232, 232, 252);
    border-radius: 10%;
    align-self:center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

img {
    padding: 0.5rem;
    height: 125px;
    width: 125px;
}

h1{
    font-family: 'Mukta', sans-serif;
}
