<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snake</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
    <script defer type="module" src="{{url_for('static', filename='snake.js')}}"></script>
</head>
<body>



<div class="top">
<button class="rules" id="myBtn">Rules</button>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
      <h2>Rules:</h2>
      <p>Use arrows to change direction.</p>
      <p>Collect apples to expand your snake.</p>
      <p>Don't run into the wall or the snake's body.</p>
  </div>

</div>

    <span id="score"></span>
    <span class="right"><a href="/">MAIN PAGE</a></span>
</div>

<div id="content">
    <div id="game-board"></div>
</div>

</body>
</html>